@font-face {
  font-family: calibre-medium;
  src: url(../fonts/Calibre-Medium-568dce56f869a519a015d3b69443b067.woff2);
}

@font-face {
  font-family: calibre-regular;
  src: url(../fonts/Calibre-Regular-b0d4cbb1201155ddccc21d1b8059a670.woff2);
}

@font-face {
  font-family: calibre-semi;
  src: url(../fonts/Calibre-Semibold-94fc73852539d6733dc0d80252c5e3fb.woff2);
}

@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url(../fonts/Avenir\ Light.ttf);
}

@font-face {
  font-family: inter-regular;
  src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: inter-variable;
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100vw;
  height: 100vh;
}

:root{
  --primary-color: #5e32d5;
}

 body{
  background-color: black;
  color: white;
  font-family: inter-variable;
  background-image: url(../src/assets/arcium-large.jpg);
  background-size: cover;
  width: 100vw !important;
  height: 100vh !important;
 }

 @media screen and (max-width: 600px) {
  body{
    background-image: url(../src/assets/arcium-small.jpg) !important;
    background-size: cover;
  }
 }

 #root{
  width: 100vw !important;
  height: 100vh !important;
 }


.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
}

.cate-choose{
  width: 90%;
  max-width: 500px;
}

.cate-choose button{
  padding: 9px 30px;
  font-family: inter-variable;
  border-radius: 3px;
  display: block;
  margin: 30px auto;
  font-weight: 500;
  border: 2px solid white;
}

.cate-choose h2{
  font-family: inter-variable;
}

.categories-list{
  list-style-type: none;
  width: fit-content;
  padding: 0;
  margin: 10px auto;
  width: 100%;
  margin-top: 30px;
  position: relative;
  animation: flow-up 0.5s linear 0s 1 forwards;
}

@keyframes flow-up {
  0%{
    top: 10px;
    opacity: 0.5;
  }

  100%{
    top: 0px;
    opacity: 1;
  }
}

.categories-list li{
  background-color: white;
  color: black;
  text-align: center;
  margin: 7px auto;
  padding: 8px 7px;
  width: 80%;
  border-radius: 5px;
  cursor: pointer;
}

.categories-list li > span{
  display: inline-block;
  text-align: start;
  line-height: 18px;
}

.section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.section-start{
  width: fit-content;
  height: fit-content;
}

.section-start p{
  font-weight: 600;
  font-size: 35px;
  padding: 10px;
  text-align: center;
}

.section-start span{
  color: var(--primary-color);
}

.section-start button{
  padding: 10px 35px;
  font-family: inter-variable;
  font-weight: 600;
  display: block;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  transition: all 0.2s linear;
}

.section-start button:hover{
  background-color: var(--primary-color);
  color: white;
}

.question-cont{
  width: 400px;
  padding: 10px;
  margin: 20px;
}

.question-cont > p{
  font-size: 18px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.question-cont ul{
  list-style-type: none;
  width: fit-content;
  padding: 0;
  margin: 10px auto;
  width: 100%;
}

.question-cont li{
  background-color: white;
  color: black;
  text-align: center;
  margin: 7px auto;
  padding: 8px 7px;
  width: 80%;
  border-radius: 5px;
  cursor: pointer;
}

.question-cont li > span{
  display: inline-block;
  text-align: start;
  line-height: 18px;
}

.question-cont button{
  padding: 10px 40px;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  font-family: inter-variable;
  font-weight: 500;
}

.selected-option{
  background-color: #704af9 !important;
  color: white !important;
}

.answer-button{
  margin-top: 30px;
}

.answer-cont{
  width: 80%;
  margin: 10px auto;
}

.answer-main{
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
}

.answer-main > div{
  display: block;
  margin-left: auto;
}

.answer-main p{
  padding-left: 5px;
  width: fit-content !important;
  margin-right: auto;
  font-size: 20px;
}

.answer-cont img{
  width: 50px;
}

.svg-cont{
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid #c44cc4;
  width: 100px;
}

.svg-cont svg{
  width: 100px;
  height: 200px;
}

.hidden{
  visibility: hidden;
}

.score-cont{
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 20px;
  margin-top: 20px;
  position: relative;
  top: -10%;
}

.score-cont > div{
  width: 50%;
}

@media screen and (max-width: 600px) {
  .score-cont{
    flex-direction: column;
    top: 10%;
  }

  .score-cont > div{
    width: 90%;
    margin: 20px auto;
  }

  .score-cont > div:nth-of-type(2){
    margin-top: 60px;
  }
}

.score-cont p{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.score-cont button{
  font-family: inter-variable;
  border: none;
  padding: 8px 30px;
  border-radius: 5px;
  color: white;
  background-color: var(--primary-color);
  height: fit-content;
  width: fit-content;
  font-size: 16px;
}

.main-score-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-score-cont h2{
  margin-bottom: 20px;
}

.main-score-cont img{
  width: 40%;
  display: block;
  margin: 10px auto 30px auto;
}

.score-links-cont ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.score-links-cont ul li{
  display: flex;
}

.score-links-cont a{
  text-decoration: none;
  color: white;
  display: block;
  background-color: var(--primary-color);
  padding: 9px 10px;
  margin: 10px;
  border-radius: 5px;
}

.welcome{
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
  padding: 10px;
  margin-top: 50px;
}

.welcome svg{
  width: 100% !important;
}

.welcome img{
  display: block;
  position: relative;
  top: -70px;
  animation: fade-in 6s ease-in-out 0s 1 forwards;
}

/* .welcome-text-cont{
} */

.arcium-img-cont{
  height: 120px;
}

.quiz-text-cont{
  height: 120px;
}

.quiz-text-cont svg{
    position: relative;
    top: -80px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 440px) {
  .quiz-text-cont svg{
    top: -130px;
    width: 250px !important;
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.welcome button{
  border: none;
  padding: 10px 35px;
  font-family: inter-variable;
  display: block;
  margin: 0 auto;
  position: relative;
  font-weight: 500;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  transition: all 0.2s linear;
}

.welcome button:hover{
  background-color: var(--primary-color);
  color: white;
}